/* .carousel-container {
    max-width: 70vw;
    margin: auto;
    border: 1px solid red;
}

.slick-center img {
    width: 100%;

}

.slick-prev,
.slick-next {
    font-size: 24px;
    color: #333;
} */